<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="logo">Filmzer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Rent Movie", "New", "Rentals", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Return Movie", "Return", "Rentals", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, null)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
